@charset "utf-8";

body{
    background-color: #E5483B;
}

#icon{
	align-content: center;  
	padding-left: 40%;
	padding-top: 15% ;
}

.bpmicon{
			animation-name: bpm;
            animation-delay: 0.5s, 0s;
            animation-duration: 6s, 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out, ease-in-out;
}

@keyframes bpm{
	0% {
               
                transform: rotate(0deg) translateX(0px) translateY(0px);
               
            }
	
	
            
         
            10% {
                transform: rotate(18deg) translateX(-50px) translateY(0px);
                
            }
            
            20% {
                transform: rotate(-10deg) translateX(0px) translateY(10px);
                
            }
            
          30% {
                transform: rotate(18deg) translateX(-50px) translateY(0px);
                
            }
           40% {
                transform: rotate(-10deg) translateX(0px) translateY(10px);
                
            }
            
           
            50% {
                transform: rotate(18deg) translateX(-50px) translateY(0px);
               
            }
	 
            50% {
                transform: rotate(180deg) translateX(-50px) translateY(0px);
               
            }
            
          
            60% {
                transform: rotate(-20deg) translateX(0px) translateY(30px);
                
            }
           
            
          
            70% {
                transform: rotate(25deg) translateX(-50px) translateY(0px);
              
            }
	80% {
                transform: rotate(-10deg) translateX(0px) translateY(5px);
              
            }
            
           
            90% {
                transform: rotate(15deg) translateX(-50px) translateY(0px);
               
            }
            
          
            100% {
                transform: rotate(-10deg) translateX(0px) translateY(10px);
                
            
               
            }
}